#logo{
    position:absolute;
    top: 30px;
    left:0;
}
.Home-body{
    font-family: Tahoma;
    color: #330080;
    font-size: 30px;
    padding-left: 70px;
    text-align: left;
}

li {
    display: inline-block;
    margin-right: 20px;
    color: white;
}
a {
    text-decoration: none;
    color: white;
    font-family: "Candarda";
    text-shadow: 0 0 1.5rem white, 0 0 3.5rem white, 0 0 5rem white,
    0 0 7rem #FF00DE, 0 0 8rem #FF00DE, 0 0 10rem #FF00DE, 0 0 12rem
     #FF00DE, 0 0 15rem #FF00DE;
}
.button {
    list-style: none;
    font-family: "Cambria";
    font-size: 20px;
    text-align: right;
    color: white;
    position: center;
    width: auto;
    height: 300px;
    background-image: linear-gradient(
        to left bottom, #7C0D8B, #71148C, #661A8D, #5B1E8E,
     #4E218E, #562D95, #5D389D, #6543A4, #815CB5, #9B76C7,
      #B590D9, #CFACEB);
}

.head-home{
    color:white;
    font-size: 60px;
    font-family: Tahoma;
    position:absolute;
    text-align: center;
    top: 150px;
    left: 45%;
    text-shadow: 0 0 1.5rem white, 0 0 3.5rem white, 0 0 5rem white,
    0 0 7rem #FF00DE, 0 0 8rem #FF00DE, 0 0 10rem #FF00DE, 0 0 12rem
     #FF00DE, 0 0 15rem #FF00DE;
}

.upload-home{
    color:white;
    font-size: 60px;
    font-family: Tahoma;
    position:absolute;
    text-align: center;
    top: 150px;
    left: 27%;
    text-shadow: 0 0 1.5rem white, 0 0 3.5rem white, 0 0 5rem white,
    0 0 7rem #FF00DE, 0 0 8rem #FF00DE, 0 0 10rem #FF00DE, 0 0 12rem
     #FF00DE, 0 0 15rem #FF00DE;
}

.food-home{
    color:white;
    font-size: 60px;
    font-family: Tahoma;
    position:absolute;
    text-align: center;
    top: 450px;
    left: 37%;
    text-shadow: 0 0 1.5rem white, 0 0 3.5rem white, 0 0 5rem white,
    0 0 7rem #FF00DE, 0 0 8rem #FF00DE, 0 0 10rem #FF00DE, 0 0 12rem
     #FF00DE, 0 0 15rem #FF00DE;
}

.concert-home {
    color:white;
    font-size: 60px;
    font-family: Tahoma;
    position:absolute;
    text-align: center;
    top: 450px;
    left: 43%;
    text-shadow: 0 0 1.5rem white, 0 0 3.5rem white, 0 0 5rem white,
    0 0 7rem #FF00DE, 0 0 8rem #FF00DE, 0 0 10rem #FF00DE, 0 0 12rem
     #FF00DE, 0 0 15rem #FF00DE;
}

button {
    background-color: #ff7eb9; 
    color: #fff; 
    padding: 10px 20px; 
    border: none; 
    border-radius: 5px; 
    font-size: 16px;
    cursor: pointer; 
    transition: background-color 0.3s ease; 
}

button:hover {
    background-color: #ff5eaa; 
}


.space-around {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.food-bg {
    background-color: #ff7eb9 !important;
}

.frats-bg {
    background-color: #330080 !important;
    color: white;
}

.club-bg {
    background-color: #7C0D8B !important;
    color: white;
}

.concert-bg {
    background-color: #FF00DE !important;
    /* color: white; */
}

.list-row {
    margin: 0.5rem;
    background-color: #CFACEB;
    border-radius: 0.125rem;
    padding: 1rem;
    width: 240px;
    height: 180px;
    /* grid-column: 1 / 3; */
}

.event-container {
    display: flex;
    flex-wrap: wrap;
  /* grid-template-columns: repeat(3, 1fr); */
  /* grid-auto-rows: minmax(100px, auto); */
}